<%- include('../../../partials/head.ejs') %>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../../partials/sidebar.ejs')  %>
            </div>
            <div class="col-md-10 my-5">
               <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card card-body mx-5 py-4">
                        <h4 class="my-3 text-center">Edit new Post</h4>
                        <form action="/post/edit/<%=post._id%>" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="title">Enter Your Post Title</label>
                                <input type="text" name="title" id="title" class="form-control <%=error.title ? 'is-invalid': '' %>"
                                    value="<%=post.title %>">
                                <div class="invalid-feedback">
                                    <%=error.title %>
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <label for="tiny-mce-post-body">Enter Your Post Body</label>
                                <textarea name="body" id="tiny-mce-post-body" class="form-control <%=error.body ? 'is-invalid': '' %>">
                                    <%=post.body %>
                                </textarea>
                                <div class="invalid-feedback">
                                    <%=error.body %>
                                </div>
                            </div>
                        
                            <div class="form-group">
                                <label for="tags">Enter Some Tags (Max 10)</label>
                                <input type="text" name="tags" id="tags" placeholder="tag1, tag2, tag3" class="form-control">
                            </div>
                        
                            <% if(post.thumbnail) { %>
                          
                            <img src="<%=post.thumbnail %>" alt="Post Thumbnail" class="img-fluid mb-4" id="thumbnail">
                            <% } %>
                        
                            <div class="form-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                </div>
                                <div class="custom-file">
                                    <input type="file" name="post-thumbnail" class="custom-file-input" id="inputGroupFile">
                                    <label for="inputGroupFile" class="custom-file-label">Choose File</label>
                                </div>
                            </div>
                        
                            <input type="submit" class="btn btn-primary" value="Update Post">
                        
                            <a href="/post/delete/<%=post._id%>" class="btn btn-danger">Delete Post</a>
                        </form>
                        
                    </div>
                </div>
               </div>
                
                </div>
            </div>
        </div>

<%- include('../../../partials/footer.ejs') %>

        </body>


        <script src="https://cdn.tiny.cloud/1/fww2vs7q624obrf8yqcfqaeg6y99bfqg8ynsdx65u10160pp/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>


        <script src="/scripts/tinymce.js"></script>

        <script>
            $('#inputGroupFile').on('change', function(e){
                let filename = e.target.files[0].name
                $(this).next('.custom-file-label').html(filename)

            })
        </script>

        </html>
