<%- include('../../../partials/head.ejs') %>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <%- include('../../../partials/sidebar.ejs') %>
            </div>
            <div class="col-md-10 my-5">

                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <div class="card card-body">
                                <h5>List of My Posts</h5>
                                <div class="row">
                                    <% if (posts.length === 0) { %>
                                    <div class="text-center text-muted">
                                        <p>
                                            There are no posts yet.
                                            <a href="/post/create" class="btn btn-primary">Create Post Now</a>
                                        </p>
                                    </div>
                                    <% } else { %>
                                    <% for (let post of posts.reverse()) { %>
                                    <div class="card col-sm-3 m-4">
                                        <% if (post.thumbnail) { %>
                                        <img src="<%= post.thumbnail %>" class="card-img-top mt-3" alt="<%= post.title %>">
                                        <% } %>
                                        <div class="card-body">
                                            <a href="/post/edit/<%= post._id %>" style="color: #222;">
                                                <h5><%= post.title %></h5>
                                            </a>
                                        </div>
                                    </div>
                                    <% } %>
                                    <% } %>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

    </div>
    

    <%- include('../../../partials/footer.ejs') %>

        </body>


        </html>